.nombre{
    color: rgb(138, 138, 138);
    text-align: center;
    margin: 2rem;
    font-size: 28px ;
    font-weight: 600;
    
}
.titulo{
    margin-top: 2rem;
}
.contendorInformacion{
    text-align: center;
}
.texto{
    text-align: center;
    padding: 2rem;
}
p{
    padding: 1.3rem;
    font-size: 1.1rem;
}
.contenedor{
    width: 70%;
    margin: 0 auto;
}
.subtitulo{
    font-size: 1.3rem;
}